#modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
    transform: translateY(100vh);           
    /* сдвигаем элемент вниз относительно 100% экрана (Положительное значение сдвигает вниз) */
    transition: transform linear 900ms;     
    /* анимация формы */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__visible { 
    transform: translateY(0px) !important;  
    /* сдвигаем элемент вниз относительно 100% экрана (отрицательное значение вверх) */
} 

/* form {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
    padding: 20px;
} 

textarea {
    margin: 20px auto;
    height: 120px;
    resize: none; 
} */

/* Размеры элемента не изменяются. */



textarea {
    height: 120px;
    resize: none; 
}


form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
}
